<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">

	<title>{{{docTitle}}}</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="header">
		<h1 class="docTitle">{{{docTitle}}}</h1>
		<nav class="nav">
			<a href="/">Home</a>
			<a href="/aboutus">About Us</a>
			<a href="/contactus">Contact Us</a>
		</nav>
	</header>
{{{body}}}
	<footer class="footer">&copy; 2016 nodecms.io. All rights reserved. </footer>
</body>
</html>